.App {
  text-align: center;
}

.App-header {
  background-color: #2a406d;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align:left;
  padding-left:2%;
  gap:20px;
  font-size: 1.5em;
  line-height:.7em;
}
h1{
  color: rgb(255, 255, 255);
  font-family:'Segoe UI'
}
h4{
  color:rgb(150, 150, 150);
  font-family:Arial, Helvetica, sans-serif
}
.Body-pane{
  display:flex;
  flex-direction:row;
  min-height: 90vh;
  background-color: #06142e;
}
.Select-pane{
  width:25%;
  padding-left:40px;
  padding-bottom:100px;
}
select{
  width:100%;
  height:100%;
  background-color:rgb(224, 244, 255);
  cursor:pointer;
  color:red;
  overflow-y: auto;

}
option{
  height:40px;
  padding-top: 20px;
  padding-left:5px;
  color: #2a406d;
  background-color:rgb(137, 194, 255);
  text-align:left;
  line-height:.5em;
  border-bottom:3px solid rgb(115, 183, 255);
  border-radius:1px;
  font-size:1.4em;
  font-family:Arial, Helvetica, sans-serif
}
option:hover{
  background-color:rgb(84, 166, 255);
}
.Graph-pane{
  width:75%;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:100px;
}
.Graph-box, .Select-box{
  height:90%;
  background-color: rgb(85, 107, 136);
  padding:15px;
}
.Chart{
  background-color:rgb(224, 244, 255);
  min-width:100%;
  min-height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.Title{
  color:white;
  font-size:1.5em;
  font-family:'Segoe UI';
  font-weight:bold;
  text-align:left;
  line-height:.5em;
  display:flex;
  flex-direction:row;
}
.Add-Cam{
  background-color:rgb(202, 202, 202);
  color:rgb(73, 73, 73);
  border:none;
}
.Add-Cam:hover{
  background-color:rgb(163, 163, 163);
}
.react-datepicker-wrapper{
  width:10% !important;
}
.react-datepicker__input-container{
  padding-top:15px;
  padding-left:15px;
  height:50%;
  width:140% !important;
}
input{
  background-color: #06142e !important;
  color:rgb(176, 217, 255) !important;
  border: none !important;
  height:100% !important;
  font-size:1.5em;
  cursor: pointer;
  width:100% !important;

}