.App {
  text-align: center;
}

.App-header {
  background-color: #2a406d;
  min-height: 10vh;
  max-height:10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align:left;
  padding-left:2%;
  gap:20px;
  font-size: 1.5em;
}
h1{
  color: rgb(255, 255, 255);
  font-family:'Segoe UI'
}
h4{
  color:rgb(195, 195, 195);
  font-family:Arial, Helvetica, sans-serif
}
.Body-pane{
  display:flex;
  flex-direction:row;
  padding-top:30px;
  min-height: 90vh;
  max-height:90vh;
  background: rgb(6,20,46);
  background: linear-gradient(90deg, rgba(6,20,46,1) 0%, rgba(6,4,84,1) 81%, rgba(6,20,46,1) 100%);  
}
.Select-pane{
  width:25%;
  padding-left:40px;
  padding-bottom:100px;
  border-radius:25px
}
.selected{
  background-color:rgb(150, 201, 255);
}
.Graph-pane{
  padding-left:40px;
  padding-right:40px;
  padding-bottom:100px;
  border-radius:25px;
}
.Chart{
  background-color:rgb(224, 244, 255);
  border-radius:25px;
}
.Graph-box{
  padding:30px;
  padding-right:60px;
  background-color:rgb(224, 244, 255);
  border-radius:25px;
}
.Message-pane {
  text-align: center;
  margin: auto;
  width: 50%;
}
.Title{
  color:white;
  font-size:1.5em;
  font-family:'Segoe UI';
  font-weight:bold;
  text-align:left;
  line-height:.5em;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.Add-Cam{
  background-color:rgb(202, 202, 202);
  color:rgb(73, 73, 73);
  border:none;
}
.Add-Cam:hover{
  background-color:rgb(163, 163, 163);
}
.react-datepicker-wrapper{
  width:10% !important;
  min-width:100px;
}
.react-datepicker__input-container{
  padding-bottom:15px;
  padding-left:15px;
  width:140% !important;
  
}
#test input {
  height:100%;
  font-size:100%;
  cursor: pointer;
  width:100%;
  background-color: transparent !important;
  color:rgb(176, 217, 255) !important;
  border: none !important;
}
input:hover{
  color:rgb(215, 246, 255) !important;
}
.custom-tooltip{
  background-color:#2a406d;
  padding:10px;
  border-radius:10px;
  color:white;
}
.Add-cams-pane{
  color:white;
  justify-content:center;
  width:100%;
  padding-left:40%;
  padding-right:40%;
  text-align:center !important;
}
.Livestream{
  background-color:rgb(224, 244, 255);
  width:95%;
}
.Livestream-selected{
  background-color:rgb(176, 217, 255) !important;
  outline:5px solid #2a406d;
  width:100%;
  padding-right:8% !important;
}
.Livestream, .Livestream-selected{
  border-radius:25px;
  padding:3%;
  cursor:pointer;
  text-align:left;
}
.Livestream:hover{
  outline:5px solid #2a406d;
}
.Livestream-header{
  display:flex;
  flex-direction:row;
  justify-content:left;
  gap:20px;
}
.Delete{
  font-size:1.4em;
  background-color:transparent;
  border:1px solid rgb(145, 145, 145);
  border-radius:10px;
  padding-right:5px;
  padding-left:5px;
  padding-bottom:5px;
  height:20%;
  line-height:1em;
  color:rgb(145, 145, 145);
  margin-top:6px;
}
.Delete:hover{
  color:rgb(255, 72, 72);
  background-color:rgb(250, 162, 162);
}
.form-control, .form-control:hover{
  color:black !important;
}
.dot:hover { fill: #2B98F0; stroke: white; stroke-width: .2em; }